
<div class="listAll">
    <div class="listView">
    <h2>Click a person to see their fact...</h2>
    <ul class="persons">
      <li *ngFor="let person of persons"
        [class.selected]="person === selectedPerson"
        (click)="onSelect(person)">
        <span class="badge">{{person.id}}</span> {{person.name}}
      </li>
    </ul>
    </div>

    <div  *ngIf="selectedPerson">
      <h2>
        Find out more about {{selectedPerson.name | uppercase}}?
      </h2>
      <button (click)="gotoDetail()">View Details</button>
    </div>
</div>