
<div class="listAll">
    
    <div>
      <label>Person name:</label> <input #personName />
      <button (click)="add(personName.value); personName.value=''">
        Add
      </button>
    </div>
    
    <div class="listView">
    <h2>Click a person to see their fact...</h2>
    <ul class="persons">
      <li *ngFor="let person of persons"
        [class.selected]="person === selectedPerson"
        (click)="onSelect(person)">
        <span class="badge">{{person.id}}</span> {{person.name}} <button class="delete"
        (click)="delete(person); $event.stopPropagation()">x</button>
      </li>
    </ul>
    </div>

    <div class="viewMore"  *ngIf="selectedPerson">
      <h2>
        Find out more about {{selectedPerson.name | uppercase}}?
      </h2>
      <button (click)="gotoDetail()">View Details</button>
    </div>
</div>