
    <h1>{{title}}</h1>
    <h2>Click a person to see their fact...</h2>
    <ul class="people">
      <li *ngFor="let person of people"
        [class.selected]="person === selectedPerson"
        (click)="onSelect(person)">
        <span class="badge">{{person.id}}</span> {{person.name}}
      </li>
    </ul>
    <div *ngIf="selectedPerson">
      <h2>{{selectedPerson.name}}'s details!</h2>
      <div><label><b>ID:</b> </label>{{selectedPerson.id}}</div>
      <div>
        <label><b>Name:</b> </label>
        <input [(ngModel)]="selectedPerson.name" placeholder="name"/>
      </div>
      <div>
        <label><b>Fact:</b> </label>
        {{selectedPerson.fact}}
      </div>
    </div>
  
  